* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-color: whitesmoke;
    overflow-x: hidden;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    position: fixed;
    background-color: whitesmoke;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.nav-center {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
.burger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
}
#open-menu {
    width: 30px;
    height: 30px;
}
#menu-option-mobile {
    padding: 10px;
    transition: all;
    border-radius: 5px;
    transition-duration: 300ms;
}
header .logo span {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}
.logo img {
    width: 50px;
    height: 50px;
}
.mobilenav {
    display: none;
}
.nav-center a {
    text-decoration: none;
    color: #444;
    font-weight: 500;
    transition: all 300ms
}
.nav-center a:hover {
    color: black
}
.nav-center nav {
    display: flex;
    gap: 15px;
}
.nav-actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.nav-actions-mobile {
    align-items: center;
}
.nav-actions nav {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
.nav-actions button {
    background-color: black;
    color: white;
    padding: 10px 15px 10px 15px;
    margin: 5px 5px 5px 0px;
    border-radius: 5px;
    border: 0;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s;
}
.nav-actions button a {
    color: white;
}
.nav-actions button a:visited {
    color: white;
}
button:hover {
    background-color: #333
}
a{
    text-decoration: none;
    color: black;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 15px;
}
a:hover {
    text-decoration: underline;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-top: 50px;
}
.content-main {
    font-size: 40px;
    min-width: 50%;
    margin-top: 10%;
}
.content-main h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 60px;
    margin: 0px;
    margin-bottom: 15px;
    padding-right: 60px;
}
.content-main p {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 18px;
    padding-right: 50px;

    margin: 0px;
    color: rgb(151, 148, 148);
}

.content-main .comenzar {

    background-color: black;
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 15px;
    padding: 10px 20px 10px 20px;
    margin: 15px 5px 5px 0px;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    transition: background-color 0.3s;
}
.comenzar:hover {
    background-color: #333
}

.content-main .conocer{
    background-color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 15px;
    padding: 10px 20px 10px 20px;
    margin: 15px 5px 5px 0px;
    border-radius: 5px;
    border: 0.5px solid rgb(219, 218, 218);
    cursor: pointer;
    transition: background-color 0.3s;
}

.conocer:hover {
    background-color: rgb(236, 234, 234);
}




.imagen-principal {
    min-width: 50%;
}


.imagen-study {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 80%;
}


section {
    margin: 0;
}

.caracteristicas{
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 20px 100px 20px;
}

.caracteristicas .caracteristicas-titulos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;

}

.caracteristicas .caracteristicas-titulos h2 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 35px;
    margin: 0px 0px 20px 0px;
}

.caracteristicas .caracteristicas-titulos div {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: white;
    background-color: black;
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 5px 10px 5px 10px;
}

.caracteristicas .caracteristicas-titulos span{
    color: rgb(151, 148, 148);
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 20px;
}




.caracteristicas-item {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1000px;
    flex-wrap: wrap;
    margin: 0 auto;
    gap: 20px;
}

.caracteristicas-item .item {
    flex: 1;
    min-width: unset;
    max-width: 100%;
}


.caracteristicas-item .item img {
    width: 50px;
    height: 50px;
}

.caracteristicas-item .item h4 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 20px;
    margin: 0px;
    margin-top: 10px;
    text-align: center;
    margin-bottom: 20px;
}

.caracteristicas-item .item p {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 15px;
    margin: 0px;
    text-align: center;
    color: rgb(151, 148, 148);
    padding: 0px 20px 0px 20px;
}


@media screen and (max-width: 768px) {
    main {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
    }
    .content-main h1,
    .content-main p {
        padding-right: 0;
    }
    .content-main {
        min-width: 100%;
    }
    
    .imagen-principal {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }
    .imagen-study {
        width: 90%;
        height: auto;
    }
    
    .caracteristicas-item {
        flex-direction: column;
        align-items: center;
    }
    .caracteristicas-item .item {
        width: 100%;
        max-width: 300px;
    }    
   .navbar {
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 15px 20px;
   }
   .burger-menu {
    display: flex;
   }
   .nav-center {
    display: none;
   }
   .nav-actions {
    display: none;
   }
   .mobilenav {
    position: sticky;
    top: 0;
    right: 0;
    width: 100%;
    background-color: whitesmoke;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    z-index: 9999;
    display: none;
    }

    .mobilenav.active {
        display: flex;
    }

    .close-menu {
        display: flex;
        align-self: flex-end;
        padding: 15px 20px;
        font-weight: bold;
        font-size: 16px;
        cursor: pointer;
    }

    .nav-center-mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        padding: 30px 0;
        width: 100%;
    }

    .nav-center-mobile a {
        font-size: 18px;
        font-weight: 500;
        color: #333;
        width: 100%;
        text-align: center;
    }

    .nav-actions-mobile {
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin-top: 30px;
    }

    .nav-actions-mobile a {
        font-size: 16px;
    }

    .nav-actions-mobile button {
        width: auto;
        background-color: black;
        color: white;
        padding: 10px 15px 10px 15px;
        margin: 5px 5px 5px 0px;
        border-radius: 5px;
        border: 0;
        font-family: 'Inter', sans-serif;
        font-weight: 500;
        cursor: pointer;
        transition: background-color 0.3s;
    }
    .nav-actions-mobile button:hover {
        background-color: #333;
    }
    .nav-actions-mobile button a {
        color: white;
    }
    .nav-actions-mobile button a:visited {
        color: white;
    }
}
