* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-color: whitesmoke;
}

.login-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 400px;
    width: 100%;
    position: relative;
    cursor: pointer;
    left: 30px;
    padding: 20px;
    transform: translateX(0px);
    z-index: 2;
    border-radius: 15px;
    background-color: white;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
    transition: all;
    transition-duration: 300ms
}
.login-box.front {
    transform: translateX(0px);
    z-index: 2;
}
.login-box.back {
    transform: translateX(20px);
    z-index: 1;
    opacity: 40%;
}



.login-box h2 {
    text-align: center;
    color: #333;
    font-size: 25px;
    margin-bottom: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}

.login-box .input-group {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 100%;
}
.login-box .input-group label {
    display: block;
    font-size: 15px;
    margin-top: 15px;
    padding: 0px 0px 5px 10px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    color: rgb(138, 138, 138);
}

.login-box .input-group input {
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 15px;
}




.login-box .login-options{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.form-btn {
    background-color: black;
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 15px;
    padding: 10px 20px 10px 20px;
    margin: 15px 5px 5px 0px;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    transition: background-color 0.3s;
}
.form-btn:hover {
    background-color: #333

}
a{
    text-decoration: none;
    color: black;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 15px;
}
